.bg-img {
  background: url('src\assets\dataLabelerBG.png') no-repeat center center fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-position: top center;
  position: absolute;
}

.input-card {
  margin: 2%;
}

.form-card {
  /* color: rgba(255, 255, 255, 0.5); */
}

.input-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

@media(max-width: 600px) {
  .bg-img {
    background: url('src\assets\bbPic.jpg') no-repeat center center fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-position: top center;
    position: absolute;
  }
}
