<div class='bg-img'>
  <div class='input-card'>
    <mat-card class='form-card'>
      <mat-card-title>Login</mat-card-title>
      <div class='input-div'>
        <mat-form-field>
          <input required #userEmail matInput placeholder="Email" name='email'>
        </mat-form-field>
        <mat-form-field>
          <input
            (keydown.enter)='tryLogin(userEmail.value, userPassword.value)'
            required #userPassword matInput
            placeholder="Password" type='password' name='password'>
        </mat-form-field>
      </div>
      <button mat-raised-button type='button' (click)='tryLogin(userEmail.value, userPassword.value)'>Login</button>
    </mat-card>
  </div>
</div>
