<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Overview">
    <ng-template matTabContent class="tab-content">
        <app-info-tab [infoTabModel]="overviewTab"></app-info-tab>
    </ng-template>
  </mat-tab>
  <mat-tab label="Trial 1">
    <ng-template matTabContent>
      <app-info-tab [infoTabModel]="trialOne"></app-info-tab>
    </ng-template>
  </mat-tab>
  <mat-tab label="Trial 2">
    <ng-template matTabContent>
      <app-info-tab [infoTabModel]="trialTwo"></app-info-tab>
    </ng-template>
  </mat-tab>
</mat-tab-group>
